@charset "utf-8";

body {
  font-family: 'Noto Sans', 'Noto Sans JP';
  /* background: skyblue; */
}

.content {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* header */

/* header {
  background: pink;
} */

h1 {
  padding: 20px 0;
}

.menu {
  width: 100%;
  background: #333;
  color: white;
}

.menu ul {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.menu li {
  font-size: 14px;
  padding: 12px 60px 12px 0;
}

/* Pick Up */

.pickup {
  background: pink;
  display: flex;
  justify-content: center;
  gap: 20px;
}

article {
  padding-top: 30px;
}


h2 {
  font-weight: bold;
  margin: 16px 0;
  line-height: 1.5;
}

article a {
  display: block;
  text-align: center;
  color: black;
  font-size: 14px;
}